# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/

# Database
#deleted

# Static folder at project root
/static/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

.idea/

#docker files
.env.prod.db
.env.prod